<a href="https://colab.research.google.com/github/AishlyManglani/Data-Mining-Assignments/blob/main/Assignment%201%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 print("hello world")

hello world

In [3]:
print("5 + 2 = ",5+2)
print("5 - 2 = ",5-2)
print("5 * 2 = ",5*2)
print("5 / 2 = ",5/2)
print("5 % 2 = ",5%2)
print("5 ** 2 = ",5**2)
print("5 // 2 = ",5//2)

5 + 2 =  7
5 - 2 =  3
5 * 2 =  10
5 / 2 =  2.5
5 % 2 =  1
5 ** 2 =  25
5 // 2 =  2

In [5]:
quote = "\Always remember your unique,"
multi_line_quote = '''just
like everyone else" '''
print(quote + multi_line_quote)

\Always remember your unique,just
like everyone else"

In [8]:
#lists
grocery_list = ['juice','tomatoes','potatoes','yougurt']
print('the first item in the list is', grocery_list[0])
grocery_list[0] = 'orange juice'
print(grocery_list)
#subset of list
print(grocery_list[1:3])

the first item in the list is juice
['orange juice', 'tomatoes', 'potatoes', 'yougurt']
['tomatoes', 'potatoes']

In [13]:
#adding more data type to list
other_events = ['wash car','pick up laundry']
to_do_list = [other_events,grocery_list]
print(to_do_list)
# append items and insert, remove,sort,reverse,del
grocery_list.append('onions')
print(to_do_list)
grocery_list.insert(1,"pickle")
print(to_do_list)
#length of list
print(len(to_do_list))

[['wash car', 'pick up laundry'], ['orange juice', 'pickle', 'pickle', 'tomatoes', 'potatoes', 'yougurt', 'onions', 'onions', 'onions']]
[['wash car', 'pick up laundry'], ['orange juice', 'pickle', 'pickle', 'tomatoes', 'potatoes', 'yougurt', 'onions', 'onions', 'onions', 'onions']]
[['wash car', 'pick up laundry'], ['orange juice', 'pickle', 'pickle', 'pickle', 'tomatoes', 'potatoes', 'yougurt', 'onions', 'onions', 'onions', 'onions']]
2

In [17]:
#tuples
pi_tuple = (3,1,4,5,6)
print(pi_tuple)
#convert tuple into list
new_tuple = list(pi_tuple)
print(new_tuple)

(3, 1, 4, 5, 6)
[3, 1, 4, 5, 6]

In [22]:
#dictionary
super_villains = {'Fiddler' : 'Isaac Bowin',
                  'Captain Cold' : 'Leonard Snart',
                  'Weather Wizard' : 'Mark Mardon',
                  'Mirror Master' : 'Sam Scudder'}
print(super_villains['Captain Cold'])
#delete an entry
del super_villains['Fiddler']
print(super_villains)
#replace an entry
super_villains['Pied Piper'] = 'Hartley Rathaway'
print(len(super_villains))
print(super_villains.keys())
print(super_villains.values())

Leonard Snart
{'Captain Cold': 'Leonard Snart', 'Weather Wizard': 'Mark Mardon', 'Mirror Master': 'Sam Scudder'}
4
dict_keys(['Captain Cold', 'Weather Wizard', 'Mirror Master', 'Pied Piper'])
dict_values(['Leonard Snart', 'Mark Mardon', 'Sam Scudder', 'Hartley Rathaway'])

In [29]:
#conditional statements
age = input("enter age:")
age = int(age)
if age > 16:
  print('you are old enough to drive because you are', age)
else:
  print('you are not old enough to drive because you are', age)

enter age:12
you are not old enough to drive because you are 12

In [30]:
#for loops
for x in range(0,10):
  print(x, '', end='')
print('\n')

0 1 2 3 4 5 6 7 8 9

In [31]:
grocery_list = ['juice','tomatoes','potatoes','yougurt']
for y in grocery_list:
  print(y)

juice
tomatoes
potatoes
yougurt

In [32]:
num_list = [[1,2,3],[10,20,30],[100,200,300]]
for x in range(0,3):
  for y in range(0,3):
    print(num_list[x][y])

1
2
3
10
20
30
100
200
300

In [37]:
#while loops
import random
random_num = random.randrange(0,100)

while(random_num != 15):
  print(random_num)
  random_num = random.randrange(0,100)

95
62
54
5
93
54
46
8
45
48
78
12
26
56
20
53
51
63
48
61
1
23
55
85
11
79
76
65
22
60
19
77
57
3
25
82
1
81
60
87
86
65
82
23
31
83
62
63
56
36
54
9
27
26
1
63
25
17
10
59
49
29
88
34
47
28
90
63
32
61
22
23
73
35
60
53
32
10
75
9
67
79
36
95
59
76
87
91
29
18
6
9
14
64
29
78

In [38]:
i = 0;
while(i <= 20):
  if(i%2 == 0):
    print(i)
  elif(i == 9):
    break
  else:
    i += 1
    continue
  i += 1

0
2
4
6
8

In [39]:
#functions
def addNumber(fNum, lNum):
  sumNum = fNum + lNum
  return sumNum
print(addNumber(1,4))

5

In [43]:
#user input
import sys
print('What is your name?')
name = input()
print('Hello', name)

What is your name?
Aishly
Hello Aishly

In [4]:
#files
test_file = open("test.txt","wb")
print(test_file.mode)
print(test_file.name)
test_file.write(bytes("Write me to the file\n","UTF-8"))
test_file.close()
test_file = open("test.txt","r+")
text_in_file = test_file.read()
print(text_in_file)
test_file.close()
#delete the file
import os
os.remove("test.txt")

wb
test.txt
Write me to the file

In [5]:
#objects and classes
class Animal:
  __name = ""
  __height = 0
  __weight = 0
  __sound = 0
  def __init__(self, name, height,weight,sound):
    self.__name = name
    self.__height = height
    self.__weight = weight
    self.__sound = sound
  def set_name(self, name):
    self.__name = name
  def set_height(self, height):
    self.__height = height
  def set_weight(self, weight):
    self.__weight = weight
  def set_sound(self, sound):
    self.__sound = sound
  def get_name(self):
    return self.__name
  def get_height(self):
    return str(self.__height)
  def get_weight(self):
    return str(self.__weight)
  def get_sound(self):
    return self.__sound
  def get_type(self):
    print("Animal")
  def toString(self):
    return "{} is {} cm tall and {} kilograms and say {}".format(self.__name,self.__height,self.__weight,self.__sound)
#Animal object
cat = Animal('Whiskers',33,10,'Meow')
print(cat.toString())

Whiskers is 33 cm tall and 10 kilograms and say Meow

In [12]:
#Inheritance



class Dog (Animal):
  __owner = ""
  def __init__(self,name,height,weight,sound,owner):
    self.__owner = owner
    super(Dog,self).__init__(name,height,weight,sound)
  def set_owner(self,owner):
    self.__owner = owner
  def get_owner(self):
    return self.__owner
  def get_type(self):
    print("Dog")
  def toString(self):
    return "{} is {} cm tall and {} kilograms and say {}, His owner is {}".format(self.get_name(),self.get_height(),self.get_weight(),self.get_sound(),self.__owner)
  def multiple_sounds(self,how_many=None):
    if how_many is None:
      print(self.get_sound())
    else:
      print(self.get_sound()*how_many)
spot = Dog("Spot",53,27,"Ruff","Derek")
print(spot.toString())

class AnimalTesting:
  def get_type(self, animal):
    animal.get_type()
test_animals = AnimalTesting()
test_animals.get_type(cat)
test_animals.get_type(spot)
spot.multiple_sounds(4)

Spot is 53 cm tall and 27 kilograms and say Ruff, His owner is Derek
Animal
Dog
RuffRuffRuffRuff